# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/frustration/
/images/

!/get_residues.py

!/box_sdk.py

!/distance_functions.py

!/dca.py

!/paralogmatch.jl

!/output_pipeline.py

!/rank_hamming.py

!/dimers_DI_scores.npy

!/compare_with_smog_1or7_off_by2.png

!/load_system.py

!/dimers_stats - Copy.csv

!/universal_reference_distribution.py

!/pdb_residue_data.sql

!/distribution.py

!/vectorize_pdb_df.py

!/distance_pdb.py

!/dca_interface.py

!/map_dca.py

!/1or7_seq_align.txt

!/bootstrapping.py

!/pdb_residue_data.sql.gz

!/mapping_functions.py

!/zscore.py

!/parse_pdb.py

!/paper.mplstyle

!/monomer_DI_APC_scores.npy

!/testid_test.fasta

!/number_of_accept_pairs.py

!/get_region.py

!/map_reference.txt

!/zref.npy

!/draw_contacts.py

!/map_v2.py

!/dca_functions.py

!/pairdist_msa.py

!/plot_contact_map.py

!/test_ppv.py

!/import_distance_matrix.py

!/bpti_bovin.txt

!/read_db.py

!/PijPLM_PC-0.20.mat

!/box_test.ipynb

!/5pti_align.txt

!/gaussian.py

!/CreatePijDCAForPLM_PC_v4.m

!/smog.contacts

!/pdb_pfam_mapping.txt

!/dimers_stats.csv

!/resonance.py

!/monomer_DI_scores.npy

!/pdb_index_converter.py

!/plot_cm_mfdca.py

!/network.py

!/actin_bootstrap.py

!/smog.contacts.CG

!/2zwh_scan.txt

!/monomer_DIAPC_scores.npy

!/dimers_FN_APC_scores.npy

!/analyze_structures.py

!/pdbmap.txt

!/rcsb_pdb_1OR7.fasta

!/mapped_reference.txt

!/dimers_DIAPC_scores.npy
